body {
  background-color: #ffd600;
}

.navbar {
  background-color: #ffd600;
  color: white;
  display: flex; /*allows contents to move around each other*/
  justify-content: space-around; /*adds space between contents*/
  align-items: center;
  font-size: 20px;
  width: 100%;
  position: relative;
  height: 80px;
}

.primary-icon {
  width: 266.22px;
  height: 61px;
  left: 10px;
  top: 10px;
  position: absolute;
  margin: 3px;
}

.nav-list {
  list-style-type: none; /*removes bullet points*/
  position: relative;
}

.nav-list .list-item {
  display: inline-block;
  padding: 20px 20px;
  left: 60%;
  position: relative;
  cursor: pointer;
}

.nav-list .login {
  display: none;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navbar a:hover {
  color: white;
}
.menu {
  display: none;
}
.menu-line {
  width: 20px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
}

#cart-wrap {
  font-family: arial, sans-serif;
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
}
#cart-products,
#cart-items {
  box-sizing: border-box;
  padding: 10px;
}
#cart-products {
  width: 70%;
}
#cart-items {
  width: 30%;
}
input.cart,
button.cart {
  padding: 10px;
  border: 0;
  background: #424140;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

/* (B) PRODUCTS LIST */
#cart-products {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
.p-item {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}
.p-img {
  max-width: 150px;
}
.p-name,
.p-price {
  font-weight: 700;
}
.p-name,
.p-desc,
.p-price {
  margin: 5px 0;
}
.p-name {
  text-transform: uppercase;
}
.p-desc {
  color: rgb(92, 89, 89);
  font-size: 0.9em;
}
.p-price {
  font-size: 1.35em;
}
input.p-add {
  width: 70%;
}

/* (C) CURRENT SHOPPING CART */
#cart-items {
  background: #31394d;
  color: #fff;
  border-radius: 5px;
}
.c-item {
  padding: 10px 0;
  display: flex;
  flex-wrap: wrap;
}
.c-item > * {
  box-sizing: border-box;
}
.c-name,
.c-total,
input.c-empty,
input.c-checkout {
  width: 100%;
}
.c-total,
input.c-empty,
input.c-checkout {
  margin-top: 10px;
}
.c-del {
  width: 25%;
}
.c-qty {
  width: 75%;
}
.c-total {
  font-weight: 700;
  font-size: 1.2em;
}

/* (D) RESPONSIVE */
@media screen AND (max-width: 768px) {
  #cart-wrap {
    grid-template-columns: 60% 40%;
  }
  #cart-products {
    grid-template-columns: auto;
  }
  body {
    position: relative;
  }
  .menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .navbar {
    flex-direction: column;
    position: relative;
  }
  .navbar .container-icon {
    width: 100%;
  }

  .nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    display: none;
    background-color: #ffd600;
    margin-left: -57px;
    margin-bottom: 12px;
    overflow: visible;
  }

  .nav-list .list-item {
    display: block;
    border-top: 1px solid white;
    width: 100%;
    background-color: #ffd600;
  }

  #login {
    display: block;
    border-top: 1px solid white;
    width: 100%;
    background-color: #ffd600;
  }

  .nav-list .login {
    display: none;
  }

  .primary-icon {
    margin-top: 10px;
    margin-left: 1px;
    position: relative;
  }

  .active {
    display: block;
    position: absolute;
    top: -5px;
    background-position: right;
    color: #ffd600;
    width: 88.2%;
  }
}
